<div class="section" id="features">
  <h1 class="text-center my-8">
    Get <span class="text-highlight">involved</span> with 1729ers.
  </h1>
  <div class="columns grid grid-cols-1 lg:grid-cols-4 gap-12">
    <app-feature-column
      text="Frequent calls with some incredibly awesome builders"
      icon="phone"
    ></app-feature-column>
    <app-feature-column
      text="A Discord packed with thoughtful discussion and revolutionary ideas"
      icon="discord"
    ></app-feature-column>
    <app-feature-column
      text="Open source projects that support founders and their goals"
      icon="hammer"
    ></app-feature-column>
    <app-feature-column
      text="More exciting announcements and opportunities soon"
      icon="gift"
    ></app-feature-column>
  </div>
</div>
