<div>
  <div
    class="
      h-72
      absolute
      right-0
      w-full
      bg-gradient-to-r
      from-primary
      via-transparent
      to-primary
      z-10
    "
  ></div>
  <div
    class="
      quote-carousel
      flex flex-row
      justify-center
      w-full
      py-8
      overflow-visible
    "
    [style.transform]="'translateX(' + offset + 'px)'"
  >
    <app-quote-card
      *ngFor="let quote of quotes"
      [text]="quote.quote"
      [author]="quote.author"
      [author_bg]="quote.author_bg"
    ></app-quote-card>
  </div>
  <div class="flex justify-center">
    <button
      class="mx-4"
      (click)="shiftLeft()"
      [ngClass]="{ 'opacity-50 cursor-default': index === 0 }"
    >
      <img src="../../../assets/left.svg" alt="left" />
    </button>
    <button class="mx-4" (click)="shiftRight()">
      <img
        src="../../../assets/right.svg"
        alt="right"
        [ngClass]="{ 'opacity-50 cursor-default': index === quotes.length - 1 }"
      />
    </button>
  </div>
</div>
