<div>
  <div
    class="
      h-72
      absolute
      right-0
      w-full
      bg-gradient-to-r
      from-primary
      via-transparent
      to-primary
    "
  ></div>
  <div class="flex flex-row justify-center w-full py-8 overflow-visible">
    <app-quote-card
      *ngFor="let quote of currentQuotes"
      [text]="quote.quote"
      [author]="quote.author"
      [author_bg]="quote.author_bg"
    ></app-quote-card>
  </div>
  <div class="flex justify-center">
    <button class="mx-4" (click)="shiftLeft()">
      <img src="../../../assets/left.svg" alt="left" />
    </button>
    <button class="mx-4" (click)="shiftRight()">
      <img src="../../../assets/right.svg" alt="right" />
    </button>
  </div>
</div>
